<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="utf-8">
	<title>Frequently asked questions</title>
	<style type="text/css">
		.q-btn,{
			width: 15rem;
			height: 1.5rem;
			padding: 5px 5px;
			font-family: sans-serif;
			color: black;
			background:#e8e8e8 ;
		}
		a:link, a:visited{
			color: black;
			width: 15rem;
			height: 1.5rem;
			padding: 5px 5px;
		    text-align: center;
		    text-decoration: none;
		    display: inline-block;
		}
		a:hover, a:active {
			font-size: 1rem;
		  background-color: #242420;
		  color: white;
		}
	</style>
</head>
<body style="background:#a7b0c9;">
	<div class="main">
	<table style="width:100%">
      <tr>
	    <th>Greetings</th>
	  </tr>
	    <tr>
	    <th><button class="q-btn" ><a class="one" href="{% static 'main/images/ISL_Gifs/good morning.gif' %}" target="output">Good Morning</a></button></th>
	  </tr>
	  <tr>
	    <th><button class="q-btn" ><a class="one" href="{% static 'main/images/ISL_Gifs/good afternoon.gif' %}" target="output">Good Afternoon</a></button></th>
	  </tr>
	  <tr>
	  	<br>
	    <th>Questions</th>
	  </tr>
	    <tr>
	    <th><button class="q-btn" ><a class="one" href="{% static 'main/images/ISL_Gifs/any questions.gif' %}" target="output">Any questions?</a></button></th>
	  </tr>
	  <tr>
	    <th><button class="q-btn" ><a class="one" href="{% static 'main/images/ISL_Gifs/are you angry.gif' %}" target="output">Are you angry?</a></button></th>
	  </tr>
	  <tr>
	    <th><button class="q-btn" ><a class="one" href="{% static 'main/images/ISL_Gifs/are you busy.gif' %}" target="output">Are you busy?</a></button></th>
	  </tr>
	  <tr>
	    <th><button class="q-btn" ><a class="one" href="{% static 'main/images/ISL_Gifs/are you hungry.gif' %}" target="output">Are you hungry?</a></button></th>
	  </tr>
	  <tr>
	    <th><button class="q-btn" ><a class="one" href="{% static 'main/images/ISL_Gifs/do you want something to drink.gif' %}" target="output">Do you want something to drink?</a></button></th>
	  </tr>
	  <tr>
	    <th><button class="q-btn" ><a class="one" href="{% static 'main/images/ISL_Gifs/do you have money.gif' %}" target="output">Do you have money?</a></button></th>
	  </tr>
	  <tr>
	  	<th>Imperatives</th>
	  </tr>
	  <tr>
	    <th><button class="q-btn" ><a class="one" href="{% static 'main/images/ISL_Gifs/please wait for sometime.gif' %}" target="output">Please wait for sometime</a></button></th>
	  </tr>
	  <tr>
	    <th><button class="q-btn" ><a class="one" href="{% static 'main/images/ISL_Gifs/please call me later.gif' %}" target="output">Please call me later</a></button></th>
	  </tr>
	  <tr>
	    <th><button class="q-btn" ><a class="one" href="{% static 'main/images/ISL_Gifs/there was traffic.gif' %}" target="output">There was traffic jam</a></button></th>
	  </tr>
	  <tr>
	    <th><button class="q-btn" ><a class="one" href="{% static 'main/images/ISL_Gifs/sit down.gif' %}" target="output">Sit down</a></button></th>
	  </tr>
	  	  <tr>
	    <th><button class="q-btn" ><a class="one" href="{% static 'main/images/ISL_Gifs/stand up.gif' %}" target="output">Stand up</a></button></th>
	  </tr>
	  	  <tr>
	    <th><button class="q-btn" ><a class="one" href="{% static 'main/images/ISL_Gifs/open the door.gif' %}" target="output">Open the door</a></button></th>
	  </tr>
	  	  <tr>
	    <th><button class="q-btn" ><a class="one" href="{% static 'main/images/ISL_Gifs/nice to meet you.gif' %}" target="output">Nice to meet you</a></button></th>
	  </tr>
	  	  <tr>
	    <th><button class="q-btn" ><a class="one" href="{% static 'main/images/ISL_Gifs/shall I help you.gif' %}" target="output">Shall I help you?</a></button></th>
	  </tr>
	    	<th>Wh-questions</th>
	  </tr>
	  <tr>
	    <th><button class="q-btn" ><a class="one" href="{% static 'main/images/ISL_Gifs/what is your name.gif' %}" target="output">What is your name?</a></button></th>
	  </tr>
	  <tr>
	    <th><button class="q-btn" ><a class="one" href="{% static 'main/images/ISL_Gifs/what is your mobile number.gif' %}" target="output">What is your mobile number?</a></button></th>
	  </tr>
	  <tr>
	    <th><button class="q-btn" ><a class="one" href="{% static 'main/images/ISL_Gifs/what is the problem.gif' %}" target="output">What is the problem?</a></button></th>
	  </tr>
	  <tr>
	    <th><button class="q-btn" ><a class="one" href="{% static 'main/images/ISL_Gifs/what are you doing.gif' %}" target="output">What are you doing?</a></button></th>
	  </tr>
	  <tr>
	    <th><button class="q-btn" ><a class="one" href="{% static 'main/images/ISL_Gifs/whats up.gif' %}" target="output">What's up?</a></button></th>
	  </tr>
	  <tr>
	    <th><button class="q-btn" ><a class="one" href="{% static 'main/images/ISL_Gifs/where is the bathroom.gif' %}" target="output">Where is the bathroom?</a></button></th>
	  </tr>
	  	  <tr>
	    <th><button class="q-btn" ><a class="one" href="{% static 'main/images/ISL_Gifs/what are you doing.gif' %}" target="output">What are you doing?</a></button></th>
	  </tr>
	  	  <tr>
	    <th><button class="q-btn" ><a class="one" href="{% static 'main/images/ISL_Gifs/where is the police station.gif' %}" target="output">Where is the police station?</a></button></th>
	  </tr>
	    	<th>Quick replies</th>
	  </tr>
	  <tr>
	    <th><button class="q-btn" ><a class="one" href="{% static 'main/images/ISL_Gifs/i am fine.gif' %}" target="output">I am fine</a></button></th>
	  </tr>
	  <tr>
	    <th><button class="q-btn" ><a class="one" href="{% static 'main/images/ISL_Gifs/i am sorry.gif' %}" target="output">I am sorry</a></button></th>
	  </tr>
	  <tr>
	    <th><button class="q-btn" ><a class="one" href="{% static 'main/images/ISL_Gifs/i am tired.gif' %}" target="output">I am tired</a></button></th>
	  </tr>
	  <tr>
	    <th><button class="q-btn" ><a class="one" href="{% static 'main/images/ISL_Gifs/i am thinking.gif' %}" target="output">I am thinking</a></button></th>
	  </tr>
	  	  <tr>
	    <th><button class="q-btn" ><a class="one" href="{% static 'main/images/ISL_Gifs/dont worry.gif' %}" target="output">Don't worry</a></button></th>
	  </tr>
	</table>
	</div>
</body>
</html>